.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 16px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  margin-top: 16px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.link-wrapper {
  margin-top: 24px;
}

.link-wrapper p {
  color: #777;
}

.link-wrapper a {
  color: #007bff;
  text-decoration: none;
}

.link-wrapper a:hover {
  text-decoration: underline;
}

.error-message {
  color: #e74c3c !important;
  margin-top: 10px;
  font-weight: bold;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Efeito de fade branco semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Garante que a sobreposição fique acima de tudo */
  border-radius: 5px;
}

.input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.password-toggle i {
  color: #888;
  height: 20px;
  width: 20px;
  line-height: 20px;
}
